h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h5 {
  margin: 100px 0 0;

  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", serif;
}

p {
  padding-top: 16px;

  color: #2a2626;
  font-weight: normal;
  font-size: 16px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.section {
  position: relative;

  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 165px;
}

.color-orange {
  color: #fe8a02;
}

.color-white {
  color: #fff;
}

.color-brown {
  color: #b09a81;
}

.colot-gray {
  color: #757575;
}

.color-gray-white {
  color: #d7ccc0;
}

header {
  position: relative;

  width: 100%;
  height: 914px;

  background: #f5f4f0;
}

header::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 914px;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

header h1 {
  position: relative;
  z-index: 3;
}

header img {
  position: absolute;
  top: 55px;
  right: -105px;

  width: auto;
  height: 525px;
}

.flex-header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 167px;
}

header .item {
  width: 50%;
}

.item:nth-child(1) {
  margin-right: 15px;
}

.item:nth-child(2) {
  margin-left: 15px;
}

header a {
  padding: 12px 24px;

  font-weight: bold;
  text-decoration: none;

  background: #fe8a02;
}

.more-detail {
  position: relative;
  top: 24px;
  z-index: 3;
}

.block-with-video {
  height: 806px;
}

.block-with-video h2 {
  line-height: 72px;
  text-align: center;
}

.block-with-video p {
  margin-top: 15px;
  margin-bottom: 30px;

  text-align: center;
}

.video {
  margin: 0 96px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  height: 991px;

  background: #42413c;
}

.navigation h2 {
  font-size: 52px;
}

.navigation .section {
  padding-top: 200px;
}

footer a {
  color: #1085c5;
  text-decoration: underline;
}

form a {
  color: #fff;
  text-decoration: underline;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  background: #fe8a02;
}

.navigation h3 {
  color: #fe8a02;
}

.navigation a:hover h3 {
  color: #fff;
}

.flex-navigation {
  display: flex;
  flex-wrap: wrap;
}

.flex-navigation .item-1 {
  box-sizing: border-box;
  width: 350px;
  height: 323px;
  padding: 24px;

  background: #f5f4f0;
}

.flex-navigation .item-1:nth-child(1) {
  padding: 0 0 24px;

  background: #42413c;
}

.flex-navigation .item-1:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.flex-navigation .item-2 {
  box-sizing: border-box;
  width: 350px;
  height: 348px;
  margin-top: 20px;
  padding: 24px;

  background: #f5f4f0;
}

.nth-not-working {
  margin-right: 30px;
  margin-left: 30px;
}

.number {
  margin-bottom: 40px;

  color: #42413c;
  font-size: 64px;
  font-family: Neucha, serif;
  line-height: 1;
}

.background-light-1 {
  position: relative;

  height: 905px;

  background: #f5f4f0;
}

.background-light-1::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 905px;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.flex-with-img {
  display: flex;
  flex-wrap: nowrap;
}

main img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

main img:nth-child(2n+1) {
  margin-right: 30px;
}

main img:nth-child(2n+2) {
  margin-left: 30px;
}

.top-30 {
  margin-top: 30px;
  padding-top: 0;

  font-size: 34px;
  font-family: Neucha, serif;
  line-height: 40.8px;
}

.top-0 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-family: Neucha, serif;
  line-height: 1;
}

.more-detailed-light {
  padding: 5px 0 5px 10px;

  background: #b09a81;
}

.flex-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.info-text p {
  padding: 0;

  color: #fff;
  font-size: 34px;
  font-family: Neucha, serif;
  line-height: 40.8px;
}

.flex-text p {
  width: 50%;
  padding: 0;

  line-height: 25.6px;
}

.p-item p {
  width: 100%;
}

.flex-text .p-item {
  width: 50%;
  padding: 0;

  line-height: 25.6px;
}

.background-dark-1 li,
.background-dark-1 p {
  color: #fff;
  font-family: "Open Sans", serif;
}

.contact-info p {
  font-size: 14px;
}

.p-item p:nth-child(2) {
  margin-left: 0;
}

.flex-text p:nth-child(1) {
  margin-right: 15px;
}

.flex-text p:nth-child(2) {
  margin-left: 15px;
}

.flex-text .p-item:nth-child(1) {
  margin-right: 15px;
}

.flex-text .p-item:nth-child(2) {
  margin-left: 15px;
}

.background-dark-1 {
  position: relative;

  min-height: 855px;

  background: #b09a81;
}

.background-dark-1::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  min-height: 100%;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-dark-1 h2:nth-child(1) {
  color: #fe8a02;
}

.more-detailed-dark {
  padding: 5px 0 5px 10px;

  background: #fff;
}

.background-light-2 {
  position: relative;

  height: 880px;

  background: #f5f4f0;
}

.background-light-2::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 880px;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-dark-2 {
  position: relative;

  height: 937px;

  background: #b09a81;
}

.background-dark-2::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 937px;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-light-3 {
  position: relative;

  height: 919px;

  background: #f5f4f0;
}

.background-light-3::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 919px;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.mail {
  box-sizing: border-box;
  height: 190px;

  background: #42413c;
}

.flex-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.info-text {
  width: 50%;
  padding-left: 55px;
}

.input {
  box-sizing: border-box;
  width: 50%;
  margin-top: 38px;
  padding-right: 55px;
}

label {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", serif;
  line-height: 20.8px;
}

.flex-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 9px;
}

input {
  width: 415px;
  max-height: 50px;
  padding: 15px;

  line-height: 0;
}

input::placeholder {
  color: #757575;
}

button {
  width: 70px;
  height: 50px;

  background: #fe8a02;
  border: 0;
}

.rules {
  margin-top: 0;
  padding-top: 0;

  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.contact-info {
  margin-top: 60px;

  text-align: center;
}
